
*{
    box-sizing: border-box;
    height: available;
}

.main
{
    width: 50%;
    margin: auto;
    margin-top: 48px;
    border: 3px dodgerblue solid;
    padding: 30px;
}

.input-container {
    /*display: -ms-flexbox; !* IE10 *!*/
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

/* Set a style for the submit button 
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}*/

.btn:hover {
    opacity: 1;
}

.registerer{
    max-width: 500px;
    margin: auto;
    border: 1px solid dodgerblue;
    padding: 50px;
    background-image: url("/test/eiffel-tower.jpg");
}


.registerhd{
    font-family: "cursive";
    font-size: 3rem;
    color: black;
}